@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600&family=Raleway:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Oswald', sans-serif;
}

p {
    font-family: 'Raleway', sans-serif;
}

/* cover all of the website */
.wrapper {
    width: 100%;
    margin: auto;
}

/* [1] Navigation bar */
.nav {
    overflow: auto;
    width: 85%;
    margin: 1em auto;
}

.nav h1 {
    text-transform: uppercase;
    width: 50%;
    float: left;
}

.nav h1 a {
    font-family: 'Oswald', sans-serif;
    color: #96746b;
    text-decoration: none;
    font-size: 1.5em;
}

.nav ul {
    width: 50%;
    float: right;
    text-align: right;
    margin-top: 1em;
    text-transform: capitalize;
}

.nav ul li {
    display: inline-block;
    margin-right: 1em;
}

.nav ul a {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #312a26;
    text-decoration: none;
}

/* [2] Beginning of Banner */
.banner {
    width: 100%;
    height: 670px;
    background-image: url('../images/banner-bg.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 7.5%;
    transform: translateY(-50%);
    width: 45%;
}

.banner-text h2 {
    font-size: 4em;
    text-transform: uppercase;
    color: #c7a17a;
}

.banner-text h2 span {
    color: #96746b;
}

.banner p {
    color: #fff;
    font-size: 1em;
    margin: 5px 0;
}

.banner a {
    text-decoration: none;
    display: inline-block;
    padding: 1em;
    background-color: #312a26;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin-top: 1em;
}

/* End of Banner */

/* [3] Beginning of Ads */
.ads {
    width: 85%;
    margin: 4em auto;
    overflow: auto;
}

.ads-items {
    margin-bottom: 3%;
    position: relative;
    width: 48%;
    height: 350px;
    float: left;
    background-size: cover;
    background-position: center;
}

.ads-item1 {
    background-image: url('../images/ads-img1.jpg');
    margin-right: 4%;
}

.ads-item2 {
    background-image: url('../images/ads-img2.jpg');
}

.ads-text {
    width: 70%;
    position: absolute;
    transform: translateY(60%);
    margin-left: 10%;
}

.ads-text h3 {
    text-transform: uppercase;
    font-size: 2em;
    color: #fff;
    line-height: 1.2em;
    text-shadow: 3px 3px 6px #312a26;
}

.ads-text a {
    display: block;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    margin-top: 1em;
    text-shadow: 3px 3px 6px #312a26;
}

/* [3] End of Ads */

/* [4] Beginning of Merchandises */
.merch {
    width: 85%;
    margin: 4em auto;
}

.section-header {
    text-align: center;
}

.section-header span {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-style: italic;
    color: #c7a17a;
}

.section-header h2 {
    text-transform: uppercase;
    color: #312a26;
}

.section-header hr {
    background-color: #c7a17a;
    height: 2px;
    width: 25%;
    margin: auto;
}

.merch-gallery {
    margin-top: 2em;
    overflow: auto;
}

.merch-items {
    width: 22.5%;
    float: left;
    margin-right: 3%;
    margin-bottom: 1%;
}

.merch-items img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.merch-items:nth-child(4),
.merch-items:nth-child(8) {
    margin-right: 0;
}

/* [4] End of Merchandises */

/* [5] Beginning of Discount */
.discount {
    width: 85%;
    height: 350px;
    margin: 4em auto;
    background-image: url('../images/discount-img.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

.discount-text {
    text-align: center;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.discount span {
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    color: #fff;
    text-shadow: 3px 3px 6px #312a26;
}

.discount h2 {
    font-size: 2em;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 3px 3px 6px #312a26;
}

.discount-text a {
    text-decoration: none;
    display: inline-block;
    padding: 1em;
    background-color: #ffffff80;
    color: #312a26;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin-top: 1em;
}

/* [5] End of Discount */

/* [7] Beginning of Ads2 */

.ads2 {
    width: 85%;
    margin: 4em auto;
    overflow: auto;
}

.ads-item3 {
    background-image: url('../images/ads-img3.jpg');
    margin-right: 3%;
}

.ads-item4 {
    background-image: url('../images/ads-img4.jpg');
}

.ads-item5 {
    background-image: url('../images/ads-img5.jpg');
    margin-right: 3%;
}

.ads-item6 {
    background-image: url('../images/ads-img6.jpg');
}

/* [7] End of Ads2 */

/* [8] Beginning of Reservation */

.reservation {
    width: 85%;
    margin: 4em auto;
}

form {
    overflow: auto;
}

.form-group {
    margin-top: 2em;
    background-color: #f2f2f2;
    float: left;
    width: 49.5%;
    border-radius: 5px;
    padding: 2em;
    height: 650px;
}

.form-group:nth-child(1) {
    margin-right: 1%;
}

form input,
form label,
form select,
form textarea {
    display: inline-block;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    padding: 1em;
    margin-bottom: 1em;
}

form label{
    font-weight: 700;
    padding: 0;
    margin-bottom: 5px;
    text-align: left;
}

form p {
    margin: 1em;
    text-align: center;
    font-weight: 700;
}

.res-time * {
    width: auto;
}

form h3 {
    text-align: center;
    text-transform: uppercase;
    margin: auto;
}

form h3::after {
    content: "";
    background-image: url('../images/reservation-cards.png');
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    width: 150px;
    height: 30px;
    margin: 0 auto;
}

.res-agreement *{
    width: auto;
}


.agreement-check{
    width: 70%;
    margin-bottom: 5px;
}

form input[type="submit"] {
    background-color: #c7a17a;
    font-weight: 700;
    text-transform: uppercase;
    width: 100%;
}

/* [8] End of Reservation */

/* [9] Beginning of Footer */

footer{
    background-image: url('../images/footer-img.jpg');
    background-size: cover;
    background-position: center;
    padding: 2em;
    padding-bottom: 2em;
    height: 450px;
}

.footer-contents{
    width: 85%;
    margin: auto;
    overflow: auto;
}

.footer-widgets{
    width: 24.25%;
    float: left;
    margin-right: 1%;
}
/* cancel out the margin of the very right of footer-widgets */
.footer-widgets:nth-child(4){
    margin-right: 0;
}

.footer-widgets h3{
    color: #fff;
    text-transform: uppercase;
    text-shadow: 3px 3px 6px #312a26;
    margin: 2em 0;
}

.footer-widgets h4 {
    color: #fff;
}

.footer-widgets p{
    color: #c7a17a;
}

footer td,
th{ color: #fff;
    font-family: 'Raleway', sans-serif;
    text-shadow: 3px 3px 6px #312a26;
}

.footer-form *{
    width: auto;
}

.footer-form input[type="search"]{
    padding: 1em;
}

.footer-form input[type="submit"]{
    display: inline-block;
    background-color: #c7a17a;
    font-weight: 700;
    text-transform: uppercase;
    padding: 1em;
}
/* [9] End of Footer */

/* [10] Beginning of Footer-social */
.footer-social{
    color: #fff;
    background-color: #19100F;
    overflow: auto;
    padding: 1em 7.5%;
    width: 100%;
    background-image: initial;
}

.social-widgets{
    width: 32.66%;
    float: left;
    text-align: center;
}

.social-widgets a{
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-size: 1.3em;
    font-weight: 900
}

.social-widgets:nth-child(3){
    text-align: right;
}

.social-widgets img{
    width: 1.5em;
}
/* [10] End of Footer-social */