@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600&family=Raleway:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Oswald', sans-serif;
}

p {
    font-family: 'Raleway', sans-serif;
}

/* [EX] Beginning of Extra Activity */

/* with85% */
.nav,
.ads,
.merch,
.discount,
.ads2,
.reservation,
.footer-contents {
    width: 85%;
}

/* width: 100%; */
.wrapper,
.banner,
.merch-items img,
form textarea,
.res-time,
.form-group input,
.footer-social {
    width: 100%;
}

/* text-align: center; */
.section-header,
.discount-text,
form p,
form h3,
.social-widgets,
.another-merch-txt,
.free-ship-txt {
    text-align: center;
}

/* font-weight: 700; for many Anchors */
a {
    font-weight: 700;
}

/* font-family: 'Oswald' */
.nav h1 a,
.social-widgets a {
    font-family: 'Oswald', sans-serif;
}

/* font-family: 'Raleway' */
.nav ul a,
.banner a,
.ads-text a,
.section-header span,
.discount span,
.discount-text a,
.another-merch-txt a,
.another-merch span,
.free-ship-txt a,
textarea,
.form-group label,
td,
th {
    font-family: 'Raleway', sans-serif;
}

/* [EX] End of Extra Activity */

/* cover all of the website */
.wrapper {
    margin: auto;
}

/* [1] Navigation bar */
.nav {
    overflow: auto;
    margin: 1em auto;
}

.nav h1 {
    text-transform: uppercase;
    width: 50%;
    float: left;
}

.nav h1 a {
    color: #96746b;
    text-decoration: none;
    font-size: 1.5em;
}

.nav ul {
    width: 50%;
    float: right;
    text-align: right;
    margin-top: 1em;
    text-transform: capitalize;
}

.nav ul li {
    display: inline-block;
    margin-right: 1em;
}

.nav ul a {
    color: #312a26;
    text-decoration: none;
}

/* [2] Beginning of Banner */
.banner {
    height: 670px;
    background-image: url('../images/banner-bg.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 7.5%;
    transform: translateY(-50%);
    width: 45%;
}

.banner-text h2 {
    font-size: 4em;
    text-transform: uppercase;
    color: #c7a17a;
}

.banner-text h2 span,
.one-get-head p {
    color: #96746b;
}

.banner p {
    color: #fff;
    font-size: 1em;
    margin: 5px 0;
}

.banner a {
    text-decoration: none;
    display: inline-block;
    padding: 1em;
    background-color: #312a26;
    color: #fff;
    margin-top: 1em;
}

/* End of Banner */

/* [3] Beginning of Ads */
.ads {
    margin: 4em auto;
    overflow: auto;
}

.ads-items {
    margin-bottom: 3%;
    position: relative;
    width: 48%;
    height: 350px;
    float: left;
    background-size: cover;
    background-position: center;
}

.ads-item1 {
    background-image: url('../images/ads-img1.jpg');
    margin-right: 4%;
}

.ads-item2 {
    background-image: url('../images/ads-img2.jpg');
}

.ads-text {
    width: 70%;
    position: absolute;
    transform: translateY(60%);
    margin-left: 10%;
}

.ads-text h3 {
    text-transform: uppercase;
    font-size: 2em;
    color: #fff;
    line-height: 1.2em;
    text-shadow: 3px 3px 6px #312a26;
}

.ads-text a {
    display: block;
    color: #fff;
    text-transform: uppercase;
    margin-top: 1em;
    text-shadow: 3px 3px 6px #312a26;
}

/* [3] End of Ads */

/* [4] Beginning of Merchandises */
.merch {
    margin: 4em auto;
}


.section-header span,
.one-get-head p {
    font-weight: 500;
    font-style: italic;
    color: #c7a17a;
}

.section-header h2 {
    text-transform: uppercase;
    color: #312a26;
}

.section-header hr {
    background-color: #c7a17a;
    height: 2px;
    width: 25%;
    margin: auto;
}

.merch-gallery {
    margin-top: 2em;
    overflow: auto;
}

.merch-items {
    width: 22.5%;
    float: left;
    margin-right: 3%;
    margin-bottom: 1%;
}

.merch-items img {
    height: 350px;
    object-fit: cover;
}

.merch-items:nth-child(4),
.merch-items:nth-child(8) {
    margin-right: 0;
}

.merch-items span {
    display: block;
    margin-top: 5px;
}

.merch-items h3,
.merch-items p,
.merch-items span {
    text-align: center;
}



/* [4] End of Merchandises */

/* [5] Beginning of Discount */
.discount {
    height: 350px;
    margin: 4em auto;
    background-image: url('../images/discount-img.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

.discount-text,
.another-merch-txt,
.free-ship-txt {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.discount span,
.another-merch span {
    font-style: italic;
    color: #fff;
    text-shadow: 3px 3px 6px #312a26;
}

.discount h2,
.another-merch h2,
.free-ship-txt h2 {
    font-size: 2em;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 3px 3px 6px #312a26;
}

.discount-text a,
.another-merch-txt a {
    text-decoration: none;
    display: inline-block;
    padding: 1em;
    background-color: #ffffff80;
    color: #312a26;
    margin-top: 1em;
}

/* [5] End of Discount */

/* [7] Beginning of Ads2 */

.ads2 {
    margin: 4em auto;
    overflow: auto;
}

.ads-item3 {
    background-image: url('../images/ads-img3.jpg');
    margin-right: 3%;
}

.ads-item4 {
    background-image: url('../images/ads-img4.jpg');
}

.ads-item5 {
    background-image: url('../images/ads-img5.jpg');
    margin-right: 3%;
}

.ads-item6 {
    background-image: url('../images/ads-img6.jpg');
}

/* [7] End of Ads2 */

/* [8] Beginning of Reservation */

.reservation {
    margin: 4em auto;
}

form {
    overflow: auto;
}

.form-group {
    margin-top: 2em;
    background-color: #f2f2f2;
    float: left;
    width: 49.5%;
    border-radius: 5px;
    padding: 2em;
    height: 650px;
}

.form-group:nth-child(1) {
    margin-right: 1%;
}

form input,
form label,
form select,
form textarea {
    display: inline-block;
    padding: 1em;
    margin-bottom: 1em;
}

form label {
    font-weight: 700;
    padding: 0;
    margin-bottom: 5px;
    text-align: left;
}

form p {
    margin: 1em;
    font-weight: 700;
}

.res-time * {
    width: auto;
}

.res-time input {
    width: 10%;
}

form h3 {
    text-transform: uppercase;
    margin: auto;
}

form h3::after {
    content: "";
    background-image: url('../images/reservation-cards.png');
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    width: 150px;
    height: 30px;
    margin: 0 auto;
}

.res-agreement * {
    width: auto;
}


.agreement-check {
    width: 70%;
    margin-bottom: 5px;
}

form input[type="checkbox"] {
    width: 5%;
    display: inline-block;
}

form input[type="submit"] {
    background-color: #c7a17a;
    font-weight: 700;
    text-transform: uppercase;
    width: 100%;
}

/* [8] End of Reservation */

/* [9] Beginning of Footer */

footer {
    background-image: url('../images/footer-img.jpg');
    background-size: cover;
    background-position: center;
    padding: 2em;
    padding-bottom: 2em;
    height: 450px;
}

.footer-contents {
    margin: auto;
    overflow: auto;
}

.footer-widgets {
    width: 24.25%;
    float: left;
    margin-right: 1%;
}

/* cancel out the margin of the very right of footer-widgets */
.footer-widgets:nth-child(4) {
    margin-right: 0;
}

.footer-widgets h3 {
    color: #fff;
    text-transform: uppercase;
    text-shadow: 3px 3px 6px #312a26;
    margin: 2em 0;
}

.footer-widgets h4 {
    color: #fff;
}

.footer-widgets p {
    color: #c7a17a;
}

footer td,
th {
    color: #fff;
    text-shadow: 3px 3px 6px #312a26;
}

.footer-form * {
    width: auto;
}

.footer-form input[type="search"] {
    padding: 1em;
}

.footer-form input[type="submit"] {
    display: inline-block;
    background-color: #c7a17a;
    font-weight: 700;
    text-transform: uppercase;
    padding: 1em;
}

/* [9] End of Footer */

/* [10] Beginning of Footer-social */
.footer-social {
    color: #fff;
    background-color: #19100F;
    overflow: auto;
    padding: 1em 7.5%;
    background-image: initial;
}

.social-widgets {
    width: 32.66%;
    float: left;
}

.social-widgets a {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-size: 1.3em;
    font-weight: 900
}

.social-widgets:nth-child(3) {
    text-align: right;
}

.social-widgets img {
    width: 1.5em;
}

/* [10] End of Footer-social */

/* [EX1] Beginning of Additional Merch */

/* [2] Beginning of Headline */

.headline {
    width: 85%;
    margin: 50px auto;
    height: 300px;
}

.headline h1 {
    text-align: center;
    margin-top: 2%;
}

.headline-left {
    box-shadow: -10px 10px 4px #19100f3c ;
}

.headline-left {
    background-image: url('../images/photo-1523242942815-1ba8fc07f592.jpg');
    background-size: cover;
    background-position: center;
}

.headline-left,
.headline-right {
    width: 40%;
    height: 300px;
    float: left;
    margin-top: 50px;
}

.headline-right {
    margin-left: 5%;
}

.headline-right p {
    text-align: left;
}

/* [2] End of Headline */


/* [3] Beginning of Why We Are Chosen */
.chosen {
    width: 85%;
    margin: 200px auto 0;
    height: 300px;
}

.chosen h3 {
    text-transform: capitalize;
    font-size: 1.5em;
    color: #312a26;
}

.chosens {
    margin-top: 50px;
    display: flex;  /* Flex Container to make div elements equally placed*/
    flex-direction: row;
    justify-content: space-between;
}

.chosen-1,
.chosen-2,
.chosen-3 {
    width: 25%;
    height: 200px;
    text-align: center;   /* No need for float*/
}

.chosen-3 {
    margin-right: 0;
}

/* [3] End of Why We Are Chosen */

/* [4] Beginning of Review */

.review {
    width: 85%;
    margin: 200px auto 0;
    height: 400px;
}

.review-wide {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.review-text,
.review-img{
    width: 45%;
    height: 300px;
}

.review-img {
    box-shadow: 10px 10px 4px #19100f21;
}

.review-text {
    text-align: left;
}

.review-img{
    background-image: url('../images/barrista.jpg');
    background-size: cover;
    background-position: center;
}

/* [4] End of Review */

/* [5] Beginning of Top 3 Sales */

.top-3 {
    width: 85%;
    margin: 100px auto 0;
    height: 600px;
}

.top-3 .merch-gallery {
    margin: 50px auto 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}



/* [5] End of Top 3 Sales */

/* [6] Beginning of For more Merch */

.another-merch,
.free-ship {
    width: 85%;
    margin: 50px auto;
    height: 300px;
    background-image: url('../images/ads-img3.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

/* [6] End of For more Merch */

/* [EX1] End of Additional Merch */

/* [EX2] Beginning of Ad Discount */

/* [1] Beginning of Free-Shipping */

.free-ship {
    background-image: url('../images/free-shipping.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

.free-ship-back {
    background-color: black;
    width: 100%;
    height: 300px;
    margin: 0 auto;
    position: absolute;
    z-index: -1;
}

.free-ship h3 {
    font-size: 2em;
}

.free-ship-txt a {
    text-decoration: none;
    display: inline-block;
    padding: 1em;
    background-color: #312a26;
    border-radius: 10px;
    color: #fff;
    margin-top: 1em;
}
.free-ship-txt {
    background-color: #c7a07a36;
    border-radius: 10px;
    width: 45%;
    padding: 20px;
}



/* [1] End of Free-Shipping */

/* [2] Beginning of Seasonal Discount */

.seasonal {
    width: 85%;
    margin: 50px auto;
    height: 600px;
}

.seasonal .merch-gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* [2] End of Seasonal Discount */

/* [3] Beginning of One Get One Free */

.one-get {
    width: 85%;
    margin: 100px auto;
    height: 500px;
    position: relative;
}

.one-get-back {
    width: 100%;
    height: 650px;
    background-color: rgba(16, 15, 15, 0.218);
    border-radius: 10px;
    position: absolute;
    transform: translateY(-5%);
}

.one-get-head  {
    text-align: center;
    margin: 50px;
}
.one-get-head h2{
    font-size: 2em;
}

.one-get-head hr {
    background-color: #c7a17a;
    height: 3px;
    width: 25%;
    margin: auto;
    margin-bottom: 7px;
}

.one-get-img {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.one-get-img .merch-items{
    width: 30%;
}

.one-get-img .merch-items a img {
    border-radius: 40px;
    border: #312a26 5px solid;
}

.one-get-explain {
    font-size: 20px;
}

/* [3] End of One Get One Free */


/* [4] Beginning of Subscription */

#subscription {
    margin-top: 250px;
}

.res-time-selection{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.subsc-course-img {
    width: 85%;
    margin: 0 auto;

}

.course-imgs {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.course-imgs img {
    width: 40%;
    height: 80px;
    object-fit: cover;
    margin-top: 10px;
}

.course-imgs p {
    font-size: 14px;
    font-style: italic;
    text-align: left;
}

/* [4] End of Subscription */

/* [EX2] End of Ad Discount */